
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Include
Lib
.elasticbeanstalk
Scripts
db.sqlite3
tcl

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3